@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased !important;
}

:root {
    --primary-font: 'Staatliches', cursive;
    --secondary-font: Tomorrow, sans-serif;


    --color-1: #de004e;
    --color-2: #05d9e8;
    --color-3: #ffd300 ;
    --color-4: #d1f7ff;
    --color-5: #005678;
    --color-6: #01012b;
}

body {
    overflow: hidden;
}


header{
    overflow: hidden;
    font-family: var(--primary-font);
    width: 100%;
    height: 100vh;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(19, 17, 17);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
}

.presentation {
    width: 1155px;
    padding: 100px 0 100px 0;
    background-color: #05d9e80c;
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid var(--color-1);
    border-right: 2px solid var(--color-1);
}



.my-name{
    font-size: 5rem;
    color: var(--color-4);
    text-shadow:1px 1px 3px var(--color-6);
}


.main-role {
    position: relative;
    font-family: var(--secondary-font);
    font-size: 6rem;
    color: var(--color-1);
}

.main-role::before,
.main-role::after {
    position: absolute;
    content: attr(data-role);
    width: 100%;
    height: 100%;
    top:  0;
    left: 0;
    color: var(--color-1);
    overflow: hidden;
}

.main-role:hover::before {
    left: 3px;
    text-shadow: -5px 0 var(--color-2);
    animation: glitch-1 2s 0s linear reverse infinite;
}

.main-role:hover::after {
    left: -3px;
    text-shadow: -5px 0 var(--color-3);
    animation: glitch-2 2s 0s linear reverse infinite;
}

@keyframes glitch-1 {
    0% {
      clip: rect(132px, auto, 101px, 30px);
    }
    5% {
      clip: rect(17px, auto, 94px, 30px);
    }
    10% {
      clip: rect(40px, auto, 66px, 30px);
    }
    15% {
      clip: rect(87px, auto, 82px, 30px);
    }
    20% {
      clip: rect(137px, auto, 61px, 30px);
    }
    25% {
      clip: rect(34px, auto, 14px, 30px);
    }
    30% {
      clip: rect(133px, auto, 74px, 30px);
    }
    35% {
      clip: rect(76px, auto, 107px, 30px);
    }
    40% {
      clip: rect(59px, auto, 130px, 30px);
    }
    45% {
      clip: rect(29px, auto, 84px, 30px);
    }
    50% {
      clip: rect(22px, auto, 67px, 30px);
    }
    55% {
      clip: rect(67px, auto, 62px, 30px);
    }
    60% {
      clip: rect(10px, auto, 105px, 30px);
    }
    65% {
      clip: rect(78px, auto, 115px, 30px);
    }
    70% {
      clip: rect(105px, auto, 13px, 30px);
    }
    75% {
      clip: rect(15px, auto, 75px, 30px);
    }
    80% {
      clip: rect(66px, auto, 39px, 30px);
    }
    85% {
      clip: rect(133px, auto, 73px, 30px);
    }
    90% {
      clip: rect(36px, auto, 128px, 30px);
    }
    95% {
      clip: rect(68px, auto, 103px, 30px);
    }
    100% {
      clip: rect(14px, auto, 100px, 30px);
    }
  }
  @keyframes glitch-2 {
    0% {
      clip: rect(129px, auto, 36px, 30px);
    }
    5% {
      clip: rect(36px, auto, 4px, 30px);
    }
    10% {
      clip: rect(85px, auto, 66px, 30px);
    }
    15% {
      clip: rect(91px, auto, 91px, 30px);
    }
    20% {
      clip: rect(148px, auto, 138px, 30px);
    }
    25% {
      clip: rect(38px, auto, 122px, 30px);
    }
    30% {
      clip: rect(69px, auto, 54px, 30px);
    }
    35% {
      clip: rect(98px, auto, 71px, 30px);
    }
    40% {
      clip: rect(146px, auto, 34px, 30px);
    }
    45% {
      clip: rect(134px, auto, 43px, 30px);
    }
    50% {
      clip: rect(102px, auto, 80px, 30px);
    }
    55% {
      clip: rect(119px, auto, 44px, 30px);
    }
    60% {
      clip: rect(106px, auto, 99px, 30px);
    }
    65% {
      clip: rect(141px, auto, 74px, 30px);
    }
    70% {
      clip: rect(20px, auto, 78px, 30px);
    }
    75% {
      clip: rect(133px, auto, 79px, 30px);
    }
    80% {
      clip: rect(78px, auto, 52px, 30px);
    }
    85% {
      clip: rect(35px, auto, 39px, 30px);
    }
    90% {
      clip: rect(67px, auto, 70px, 30px);
    }
    95% {
      clip: rect(71px, auto, 103px, 30px);
    }
    100% {
      clip: rect(83px, auto, 40px, 30px);
    }
  }




.saiba-mais {
    font-family: var(--secondary-font);
    font-weight: lighter;
    text-transform: uppercase;
    color: var(--color-6);
    padding: .5rem 1rem;
    font-size: 2rem;
    border: none;
    margin-top: 2.5rem;
    background-color: var(--color-2);
    cursor: pointer;
    transition: 400ms;
    border: 1px solid var(--color-1);
}
.saiba-mais:hover {
    background-color: #05d9e89d;
}


/*-----NAVBAR-----*/
.nav-bar {
    font-family: var(--secondary-font);
    font-weight: bolder;
    display: flex;
    gap: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 80px;
    background-color: var(--color-1);
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
}
.nav-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}
.nav-bar li a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-4);
    text-transform: uppercase;
    text-shadow: 1px 1px 7px var(--color-6);
}


/*-----NAVBAR-MOBILE-----*/
.nav-bar-mobile {
    font-family: var(--secondary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-2);
    position: absolute;
    right: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: ease-in-out 400ms;
}

.nav-bar-mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    list-style: none;
    width: 98%;
    height: 99%;
    border: 2px solid var(--color-1);
    box-shadow: 2px 2px 30px var(--color-1);
    border-radius: 3px;
}

.nav-bar-mobile li{
    font-size: 2rem;
    text-decoration: none;
}

.nav-bar-mobile a {
    color: var(--color-6);
    text-shadow: 1px 1px 2px var(--color-1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-hamburguer {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    z-index: 100;
    top: 35px;
    right: 35px;
    cursor: pointer;
}


@media (max-width:1155px) {
    .presentation {
        width: 100%;
        text-align: center;
        bottom: 0;
    }
}


@media (max-width:500px) {
    .presentation {
        gap: 30px;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        text-align: center;
    }

    .main-role {
        font-size: 4.5rem;
    }

    .my-name {
        font-size: 4rem;
    }

    .nav-bar {
        display: none;
    }
}





