@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

:root {
    --red:#e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
    --cinza: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
}

header {
    width: 100%;
    height: 100vh;
    background-color: var(--cinza);
    position: relative;
    overflow: hidden;
}

/* banner section -----------------*/
.img-wrapper {
    width: 100%;
    height: 100%;
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

/* nav-bar section -----------------*/

.nav-bar {
    background-color: var(--cinza);
    width: 700px;
    border-top-left-radius: 100px;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 0;
    right: 0;
    transition: ease all 400ms;
}
.nav-items {
    color: white;
    text-decoration: none;
    text-shadow: 1px 4px 6px black;
    text-transform: uppercase;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    transition: 400ms;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid transparent;
}
.nav-items:hover {
    font-size: 1.6rem;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid var(--red);
}

#about {
    text-transform: capitalize;
}

#projetos {
    background-color: var(--red);
    font-weight: 500;
    color: white;
    text-shadow: none;
    font-size: 1.8rem;
    margin-right: 21%;
    margin-left: 50px;
    padding: 0.5rem 1rem;
    border-bottom: none;
    border-radius: 2px;
    box-shadow: 1px 3px 10px black;
}
#projetos:hover {
    padding: 0.6rem 1.1rem;
    border-radius: 10px;
    border-bottom: none;
    box-shadow: none;
    text-shadow: none;
}

#btn-mobile {
    display: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: var(--red);
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    transition: ease all 800ms;
    cursor: pointer;
}

#hamburger {
    border-top: 2px solid var(--red);
    color: var(--red);
    width: 50px;
    gap: .5rem;
}
#hamburger::after, #hamburger::before {
    margin-top: 10px;
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: currentColor;
}


.btn-active {
    border-radius: 60px;
}

/* nav-bar mobile */

.nav-items-mobile {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    text-shadow: 1px 4px 6px black;
    transition: ease all 500ms;
}

.nav-items-mobile:hover {
    padding: 1rem 0;
    border-bottom: 1px solid var(--red);
}


/*presentation section -----------------*/
.presentation {
    object-fit: cover;
    position: absolute;
    top: 50vh;
    left: 10%;
    transition: ease all 400ms;
}
.dev-title-1 {
    color: white;
    font-size: 4rem;
    text-shadow: 1px 4px 6px black;
    font-weight: 700;
}
.dev-title-2 {
    color: var(--red);
    font-size: 4.5rem;
    text-shadow: 1px 4px 6px black;
    font-weight: 900;
    margin-bottom: 1.5rem;
}
.dev-name {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    text-shadow: 1px 4px 6px black;
    transition: ease-in 400ms;
}
.dev-name:hover {
    font-size: 3.1rem;
    text-shadow: none;
    object-fit: cover;
}

/*about -----------------*/

main {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.about {
    width: 700px;
    display: flex;
    margin: 40px auto 40px auto ;
    padding: 40px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.555) ;
    box-shadow: 0px 1px 10px rgba(202, 32, 10, 0.397);
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    transition: ease all 400ms;
}
.about h2 {
    color: white;
    text-align: center;
    margin: 0 5rem 0 auto;
    width: 10rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--red);
}

.profile-img-and-txt {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.profile-img-wrapper {
    border-radius: 300px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: 1px 1px 10px  rgba(255, 255, 255, 0.171);
}

.profile-img-wrapper img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}
.about-txt {
    width: 50%;
    float: right;
    color: white;
    margin-left: 20px;
}

.social-links {
    margin-top:2rem;
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.social-links-items {
    font-size: 3rem;
    color: var(--red);
    transition: 600ms;
}

.social-links-items:hover {
    font-size: 3rem;
    color: white;
} 




/*projetos -----------------*/
.projetos {
    min-width: 700px;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 10px;
    overflow: hidden;
    transition: ease all 400ms;
}
.project-header {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: ease all 400ms;
}
.project-header h2 {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
}
.balls-wrapper {
    display: flex;
    width: 10%;
    justify-content: space-around;
    transition: ease all 100ms;
}
.ghost-div {
    width: 10%;
    visibility: hidden;
}
#project-header-circle-1 {
    color: var(--red);
}
#project-header-circle-2 {
    color: var(--red);
}
#project-header-circle-3 {
    color: var(--red);
}
.projetos-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #111010;
    padding: 100px 0 100px 0;
    transition: ease all 400ms;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.projetos-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    transition: ease all 400ms;
}
.projetos-item h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    font-family: 'Ubuntu', sans-serif;
}
.projetos-item img {
    width: 100%;
} 

.projects-footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    color: white;
    align-items: center;
    padding:0 5px 0 5px;
}
.skills {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;
}
.skills i {
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    color: white;
} 
.links a {
    color: white;
    transition: 400ms;
}
.links a:hover {
    color: var(--red);
}
.skills p {
    margin-left: 6px;
    font-size: 1.3rem;
    background-color: var(--red);
    padding: 4px;
    border-radius: 3px;
}




footer {
    margin-top: 5rem;
    width: 100%;
    border-top: .1px solid white;
    height: 250px;
    background: black;
    color: white;
}

footer p {
    font-size: .9rem;
    color: rgba(167, 154, 154, 0.651);
    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-weight: 400;
}

.Friedrich {
    margin-top: 0.9rem;
    width: 350px;
    text-align: right;
    font-style: normal;
}

footer hr {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    border: none;
    background-color: rgba(255, 68, 0, 0.384);
    height: 0.5px;
}

.footer-social-links {
    display: flex;
    width: 100%;
    justify-content: center;

}

.footer-social-links-items {
    display: flex;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin: 2rem 1rem 2rem 1rem;
    transition: 400ms;
}

.footer-social-links-items:hover {
    color: var(--red);
}

.copyright {
    padding: none;
    margin-top: 1.8rem;
    font-style: normal;
}

.copyright a {
    color: white;
    text-decoration: none;
}







@media (max-width:770px) {

    main {
        width: 100%;
        margin: 0;
    }
    /* ----- header ----- */ 

    header {
        height: 90vh;
    }
    .nav-bar {
        width: 0;
    }

    .nav-items {
        display: none;
    }

    .active-nav {
        position: absolute;
        width: 100%;
        height: 50vh;
        border-top-left-radius: 400px;
        background-color: var(--cinza);
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 110px;
        padding-left: 50px;
        text-align: right;
        right: 0;
        transition: ease all 400ms;
    }
    .presentation {
        position: absolute;
        top:  10vh;
        left: 5%;
    }
    .dev-title-1 {
        font-size: 3rem;
    }
    .dev-title-2 {
        font-size: 3.5rem;
    }
    .dev-name {
        font-size: 2rem;
    }
    .dev-name:hover {
        font-size: 2.1rem;
    }

    #btn-mobile {
        display: flex;
    }

    /* ----- about me ----- */ 

    .about {
        width: 96%;
        margin: 1rem auto 1rem auto;
        padding: 1rem 0 0 0;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.555) ;
        box-shadow: 0px 1px 10px rgba(202, 32, 10, 0.397);
    }

    .profile-img-wrapper {
        width: 150px;
        height: 150px;
        border-radius: 150px;
    }

    .profile-img-and-txt {
        flex-direction: column;
    }

    .social-links {
        width: 80%;
        margin: 3rem auto 2rem auto;
    }

    .about-txt {
        margin: 2rem 0 0 0;
        text-align: center;
        width: 80%;
    }

    .about h2 {
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
    }




    /*projetos -----------------*/

    .projetos {
        min-width: 350px;
        height: max-content;
    }

    .projetos-wrapper {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2rem 0 0 0;    
    }

    .projetos-item {
        width: 80%;
        margin-bottom: 50px;
    }


    .balls-wrapper {
        visibility: hidden;
    }


}


